.navbar .quizstack-brand .name{
  color:white;
  margin-bottom: 5px;
  font-weight: bold;
  padding-top:5px;
}
/*-x(top) -x(left) +x(bottom) +x(right)
*/
.quizstack-slide{
  /*-moz-box-shadow: 0 0 5px 5px #888;
  -webkit-box-shadow: 0 0 5px 5px#888;*/
  /*10px 10px #888, -10px -10px #f4f4f4, 0px 0px 5px 5px #cc6600;*/
    box-shadow: 0 4px 10px 2px #aaa;
    -moz-box-shadow:  0 4px 10px 2px #aaa;
    -webkit-box-shadow:  0 4px 10px 2px #aaa;
    box-shadow:  0 4px 10px 2px #aaa;
     /*0 0px 115px 2px #cecece;*/

}
.logo-name{
  font-size:42px;
}
.logo-color{
color:#8CBE5A;
}